/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

/* *******GLOBAL SECTION********* */

body
{
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: white;
	font-size: 13pt;
	font-weight: normal;
}

a
{
	color: #F98F38;
	text-decoration: none;
}

a:link
{
	color: #F98F38;
}

a:hover
{
	color: #FF5500;
	text-decoration: underline;
}

img
{
	width: 100px;
}

/* *******DIV SECTION********* */
.page
{
	max-width: 1000px;
	margin: 20px 20px 20px 20px;
	margin-left: -500px;
	padding-left: 50%;

	/*background-color: red;*/
}

.header
{
	/*background-color: blue;*/

}

.header #sitename
{
	text-transform: uppercase;
	line-height: 59pt;
	text-align: center;
	font-size: 60pt;
	height: 60pt;
}

.header #subtitle 
{
	font-size: 15pt;
	text-align: center;
	padding: 10px;
}

.header #menu
{
	text-align: center;
}

.header #menu a
{
	color: black;
	font-size: 20px;
	padding: 12px;
	line-height: 40pt;
}

.header #menu a:hover
{
	color: white;
	background-color: black;
	/*padding: 18px;*/
}

.footer
{
	text-align: center;
	font-size: 13px;
}

/* *******ERROR HANDLER SECTION********* */

.fatalError
{
	background-color: #f33;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 7px;
	font-size: 15pt;
}

.error
{
	background-color: #f33;
	text-align: center;
	font-size: 15pt;
	padding: 7px;
}

/* *******ARTICLE DESIGN SECTION********* */

